:root {
    --yellow: #ffc92f;
    --red: #d82727;
    --black: #1b1b1b;
    --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
    font: 16px / 1.42 "Roboto", Arial, sans-serif;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fcf5e6;
}

ul {
    margin: 0;
    padding: 0;
}
  
  ul>li {
    list-style: none;
}

.sidebar {
    width: 75px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #0ABAB5;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: width .3s;
  }
  
  .sidebar--opened {
    width: 325px;
    padding: 0 3% 0 4%;
  }
  
  .sidebar__menu {
    position: absolute;
    left: -400px;
    transition: left .3s;
  }
  
  .sidebar--opened .sidebar__menu {
    left: 0;
    width: 100%;
    text-align: center;
    transition-delay: .1s;
  }
  
  .sidebar__hamburger-icon {
    width: 29px;
    height: 29px;
    fill: white;
  }
  
  .sidebar__hamburger {
    display: block;
    position: absolute;
    top: 27px;
    left: 50%;
    transform: translate(-50%);
  }
  
  .sidebar--opened .sidebar__hamburger {
    display: none;
  }
  
  .sidebar--opened .sidebar__header {
    display: flex;
  }
  
  
  .sidebar__header {
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
  }
  
  .sidebar__close {
    position: absolute;
    top: -4px;
    right: 23px;
  }
  
  .sidebar__close-icon {
    width: 29px;
    height: 29px;
    fill: black;
  }
  
  .side-menu__item {
    margin-bottom: 20px;
  }
  
  .side-menu__link {
    font-size: 20px;
    color: var(--RED);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--titlesFont);
  }
  
  .side-menu__link:hover {
    color: var(--red);
  }
  

.menu {
    display: flex;
}