@media only screen
and (min-device-width: 320px)
and (max-device-width: 820px) { 
    body {
    width: 100%;
    background: url(img/free-png.ru-341.png);
    background-size: 100%;
}

.header a {
    text-decoration: none;
}

.header h1{
    color: #179b59;
    font-size: 35px;
}
 
.header__logo {
    left: 200px;
    color:#fff;

}

.header__logo {
    padding-left: 100px;
}

.selection {
    padding-top: 30px;
}

.link {
    width: 50%;
}

.box {
    width: 222px;
    padding: 5%;
    margin: 5% 10px 16px 0px;
    border: solid 3px #FFD700;
    border-radius: 5px;
    background-color: #0c5845;
    color: #fff;
    font-size: 1.5em;
    list-style-type: none;
    text-transform: uppercase;
}

.box tea {
    background-color: #FFD700;
    color: antiquewhite;
}


.box a {
    text-decoration: none;
    color: #0abab5;
    text-transform: uppercase;
}

.big-box a:hover {
    background-color: red;
}

.service {
    background-color: #0c5845;
    font-size: 2.3em;
    color: #FFD700;
    width: 85%;
    margin-left: 5%;
}
}