@media only screen
and (min-device-width: 320px)
and (max-device-width: 820px) { 
    body {
    width: 100%;
    background: url(img/pizza.jpg) no-repeat;
    background-size: 100% 100%;
  
}

img {
    position: relative;
    padding-left: 20px;
}

.header__logo {
    padding-left: 100px;
    color: #0abab5;
}

.header h1{
    color: #179b59;
    font-size: 35px;
}

.box {
    border: solid 1px #0abab5;
    width: 380px;
}

.box h1{
    background-color: #0abab5;
    color:aliceblue;
    padding-top: 0;
    margin-top: 0;
    margin-left: 15%;
    width: 270px;
}

.box h2{
    color:rgb(0, 0, 0);
    background-color:#4dfaf4;
}
}